<div class="flex flex-col">
    <div class=" flex  justify-center items-center m-2 p-2">
        <div class="font-bold text-blue-500 text-3xl mr-2 ">
            Metodo de Pago
        </div>
        <img src="metodo-pago.jpeg" alt="metodo de pago" class="w-1/2">
    </div>

    <div class="flex justify-between">
        <div class="flex-col mr-4 w-1/2">
            <div class="flex-col h-3/5">
                <p class="font-bold text-blue-500 text-3xl" >Conoceme</p>
                <div class="flex flex-wrap gap-4 m-2">
                    <button 
                    class="hover:border-b-4 border-blue-500 mr-2"
                    (click)="navigateTo('home-page-work')"
                    >Home</button>
                    <button 
                    class="hover:border-b-4 border-blue-500 mr-2"
                    (click)="navigateTo('productos')"
                    >Productos</button>
                    <button 
                    class="hover:border-b-4 border-blue-500 mr-2"
                    (click)="navigateTo('acerca-de-nosotros')"
                    >Acerca de nosotros</button>
                    <button 
                    class="hover:border-b-4 border-blue-500 mr-2"
                    (click)="navigateTo('trabaja-con-nosotros')"
                    >
                    Trabaja conmigo
                    </button>
                    <button 
                    class="hover:border-b-4 border-blue-500 mr-2"
                    (click)="navigateTo('blog')"
                    >Blog</button>
                    <button 
                    class="hover:border-b-4 border-blue-500 mr-2"
                    (click)="navigateTo('trabaja-con-nosotros')"
                    >¿Como ofrecer mi local?</button>
                    <button 
                    class="hover:border-b-4 border-blue-500 mr-2"
                    (click)="navigateTo('trabaja-con-nosotros')"
                    >Alquila tu local</button>
                </div>
                

            </div>
            <div class="flex flex-wrap h-2/5 mt-8">
                <p class="mr-4 font-bold text-blue-500 text-3xl">Sigueme en </p>
                <div>
                    <a href="https://facebook.com" target="_blank" class="mr-4">Facebook</a>
                    <a href="https://instagram.com" target="_blank" class="mr-4">Instagram</a>
                    <a href="https://tiktok.com" target="_blank" class="mr-4">Tiktok</a>
                </div>
                
            </div>
        </div>
        <div class="mr-8 w-1/3">
            <p class="font-bold text-blue-500 text-3xl">Servicio al cliente</p>
            <p>Horarios de atencion: </p>
            <p class="mb-2">De lunes a domingo de 7AM a 10PM</p>
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=CllgCJNrccKMsQQFVLnwHjXNfXSXFnknSnzpmXHkHbGlPHDPFwsWCCqhbvWKjGnKLzjzVFNmrZL">abrapaga&#64;tiendaa.com</a>
            <p class="mt-2">Politicas de cambios y devoluciones</p>
            <p>Términos y condiciones</p>
            <p>Comprobante electrónico</p>
            
        </div>
    </div>

    <div class="text-center m-2 p-2">
        <p>Verduleria Ada 2024</p>
        <p>Compañia Hard Discount S.A.C</p>
        
    </div>
</div>
