<h2 class="text-2xl font-bold mb-4">Carrito de Compras</h2>

<!-- <div *ngIf="cart.length > 0; else emptyCart">
  <div *ngFor="let item of cart" class="p-4 border-b flex justify-between">
    <span>{{ item.nombre }}</span>
    <span>S/ {{ item.price }}</span>
  </div>
  <h3 class="text-xl font-bold mt-4">Total: S/ {{ totalPrice }}</h3>
  <button (click)="checkout()"
    class="bg-green-500 text-white py-2 px-4 rounded mt-4">
    Pagar ahora
  </button>
</div>

<ng-template #emptyCart>
  <p class="text-gray-500">Tu carrito está vacío</p>
</ng-template> -->

