<div class="grid grid-cols-4 gap-4">
    @for (product of products; track $index) {
      <div class="min-h-[400px] max-w-sm rounded overflow-hidden shadow-lg bg-white p-4 flex flex-col items-center">
        <div class="text-center font-bold text-xl mb-2"> 
          {{ product.nombre }} 
        </div>
        <img class="h-40 w-full object-contain" [src]="product.image" alt="{{ product.nombre }}">
        <p class="text-gray-700 text-center font-semibold mt-2">
            {{ product.category }}
          </p>
        <p class="text-gray-700 text-center font-semibold mt-2">
          S/. {{ product.price }}
        </p>
        <button (click)="agregarAlCarrito(product)" class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 transition duration-300 mt-auto">
          Agregar al carrito
        </button>
      </div>
    }
  </div>
  
  
