<div class="w-full h-16 flex items-center px-4">
    <div class="flex w-2/5 text-white text-xl font-bold">
        <button routerLink="home" >Verduleria Ada</button>
    </div>
    <div class="flex w-3/5 gap-4 justify-center">
        <button 
            type="button"
            routerLink="home"
            class="flex-1 text-white hover:border-b-4 hover:border-blue-500"
            routerLinkActive= "border-b-4 border-blue-500">
            Home
        </button>
    
        <button 
            type="button"
            routerLink="productos"
            class="flex-1 text-white hover:border-b-4 hover:border-blue-500"
            routerLinkActive= "border-b-4 border-blue-500">
            Productos
        </button>
    
        <button
        type="button" 
        routerLink="acerca-de-nosotros"
        class="flex-1 text-white hover:border-b-4 hover:border-blue-500"
        routerLinkActive= "border-b-4 border-blue-500">
            Acerca de nosotros
        </button>
    
        <button
        type="button" 
        routerLink="trabaja-con-nosotros"
        class="flex-1 text-white hover:border-b-4 hover:border-blue-500"
        routerLinkActive= "border-b-4 border-blue-500">
            Trabaja conmigo
        </button>
    
        <button
        type="button" 
        routerLink="blog"
        class="flex-1 text-white hover:border-b-4 hover:border-blue-500"
        routerLinkActive= "border-b-4 border-blue-500">
            Blog
        </button>
    
    </div>
</div>
